<template>
    <v-container>
        <v-layout>
            <v-flex>
                <panel-navigation></panel-navigation>

                <h1 class="">Domain Groups</h1>
                <v-layout>
                    <v-flex>
                        <v-text-field v-model="group" label="Group Name">
                        </v-text-field>
                        <v-divider></v-divider>
                        <v-data-table
                            :headers="headers"
                            :items="groups"
                            :search="search"
                            :pagination.sync="pagination"
                            :total-items="total_results"
                            :loading="loading"
                            class="elevation-3"
                            hide-actions
                    >

                        <template slot="items" slot-scope="props">
                            <td>
                                <v-radio-group v-model="radios" :mandatory="false">
                                <v-radio v-model="props.item.id"></v-radio>
                        </v-radio-group>
                        </td>
                            <td>{{ props.item.name }}</td>
                            <td>
                                <v-btn flat fab color="red" @click="deleteGroup(props.item.id)">
                                    <v-icon>close</v-icon>
                                </v-btn>
                            </td>
                            <td>
                                <v-btn flat fab color="success" router :to="domains+props.item.id">
                                    <v-icon>add</v-icon>
                                </v-btn>
                            </td>
                        </template>

                    </v-data-table>
                    </v-flex>
                    <v-flex>
                        <v-btn @click="addGroup" color="success">
                            Add group!
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  import panelNavigation from '~/components/panel-navigation'
  import axios from 'axios'

  export default {
    components: {panelNavigation},
    asyncData ({$axios}) {
      return $axios.get('/api/keyg/')
        .then((res) => {
          return {total_results: res.data.count, groups: res.data.results}
        })
    },
    data () {
      return {
        domains: '/domains/',
        radios: 35,
        loading: false,
        group: '',
        search: '',
        total_results: 0,
        page: 0,
        groups: [],
        pagination: {},
        headers: [
          {
            text: 'Select',
            align: 'left',
            sortable: false,
            value: 'select'
          },
          {
            text: 'Group Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Delete Group',
            align: 'left',
            sortable: false,
            value: 'delete'
          },
          {
            text: 'Add Domains',
            align: 'left',
            sortable: false,
            value: 'add'
          }
        ]
      }
    },
    methods: {
      async addGroup () {
        this.loading = true
        return this.$axios.$post('/api/keyg/',
          {
            name: this.group
          }).then(() => {
          this.refreshGroups()
          this.loading = false
        })
      },
      async refreshGroups () {
        const result = await this.$axios.$get('/api/keyg/')
        this.total_results = result.count
        this.groups = result.results
      },
      async deleteGroup (id) {
        this.loading = true
        return this.$axios.$delete('/api/keyg/' + id)
          .then(() => {
            this.refreshGroups()
            this.loading = false
          })
      }
    }
  }
</script>
