<template>
    <v-toolbar>
        <v-toolbar-title class="yellow--text">Domains</v-toolbar-title>
        <v-toolbar-items>
            <v-btn router
                        :to="item.to"
                        :key="i"
                        v-for="(item, i) in items"
                        flat ripple> {{ item.title }}</v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
    export default {
      data () {
        return {
          items: [
            {icon: 'apps', title: 'add', to: '/add'},
            {icon: 'bubble_chart', title: 'Groups', to: '/panel'},
            {icon: 'bubble_chart', title: 'Themes', to: '/panel'},
            {icon: 'bubble_chart', title: 'styles', to: '/panel'}
          ]
        }
      }
    }
</script>