<template>
<v-navigation-drawer
        :permanent="permanent" :absolute="absolute" :clipped="clipped" :app="app"
>
    <v-list>
        <v-list-tile
                router
                :to="item.to"
                :key="i"
                v-for="(item, i) in items"
                exact
        >
            <v-list-tile-action>
                <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</v-navigation-drawer>
</template>

<script>
    export default {
      data () {
        return {
          items: [
            {icon: 'apps', title: 'Domains', to: '/domains'},
            {icon: 'bubble_chart', title: 'Domain groups', to: '/groups'},
            {icon: 'bubble_chart', title: 'Themes', to: '/themes'},
            {icon: 'bubble_chart', title: 'Styles', to: '/styles'},
            {icon: 'bubble_chart', title: 'Files', to: '/keywords', items: [{title: 'Add'}]},
            {icon: 'bubble_chart', title: 'Keys', to: '/keys', items: [{title: 'Add'}]},
            {icon: 'bubble_chart', title: 'Bing parser', to: '/bing'},
            {icon: 'bubble_chart', title: 'Keyword categories', to: '/keyword-groups'},
            {icon: 'bubble_chart', title: 'PDF', to: '/pdf'},
            {icon: 'bubble_chart', title: 'Entries', to: '/entries'}
          ],
          clipped: true,
          permanent: true,
          app: true,
          absolute: false
        }
  }
    }
</script>
