<template>
  <v-app dark>
    <no-ssr>
      <v-toolbar fixed app :clipped-left="clipped" :dense="dense">


        <v-layout align-center justify-center>
          <v-toolbar-title v-text="host"></v-toolbar-title>
        </v-layout>
        <v-spacer></v-spacer>
        <v-toolbar-items>


          <v-btn :color="logedin ? 'green' : 'red'">
            <v-icon dark small>{{ logedin ? 'done' : 'star' }}</v-icon>
            <span>User status:</span>
          </v-btn>


          <v-btn class="red" flat v-show="logedin" @click="logout">logout</v-btn>
          <v-btn class="green" flat routter v-show="!logedin" :to="login_url">login</v-btn>

        </v-toolbar-items>
      </v-toolbar>
    </no-ssr>
    <v-content>

      <nuxt/>

    </v-content>
    <v-footer absolute app>
      <span>&copy;{{host}} 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        login_url: '/login',
        logout_url: '/api-rest-auth/logout/',
        dense: true,
        host: '',
        clipped: true,
        drawer: false,
        fixed: false,
        items: [
          {icon: 'apps', title: 'Welcome', to: '/'},
          {icon: 'bubble_chart', title: 'Inspire', to: '/inspire'},
          {icon: 'bubble_chart', title: 'login', to: '/login'},
          {icon: 'bubble_chart', title: 'pdf', to: '/pdf'},
          {icon: 'bubble_chart', title: 'Panel', to: '/panel'}
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js'
      }
    },
    asyncData (context) {
      // We can use async/await ES6 feature
      if (context.isServer) {
        let host1 = context.req.hostname
        return {host: host1}
      } else {
        let host1 = window.host
        return {host: host1}
      }
    },
    methods: {
      async logout () {
        this.loading = true
        return this.$auth.logout()
          .catch(e => {
            this.error = e + ''
          }).then(() => {
            this.loading = false
          })
      }
    },
    computed: {
      logedin () {
        return this.$auth.$state.loggedIn
      }
    }
  }
</script>
