<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-alert :value="error" type="error">{{ error + '' }}</v-alert>
        <v-alert dismissible :value="$auth.$state.redirect" type="error">
          You have to login before accessing to <strong>{{ $auth.$state.redirect }}</strong>
        </v-alert>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login form</v-toolbar-title>


          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field prepend-icon="person" name="login" label="Login" type="text" v-model="username"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="login" color="primary">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style scoped>
  .login-button {
    border: 0;
  }
</style>

<script>
  import busyOverlay from '~/components/busy-overlay'
  export default {
    middleware: ['auth'],
    components: { busyOverlay },
    data () {
      return {
        username: 'mgm',
        password: '',
        error: null
      }
    },
    computed: {
      strategies: () => ([
        { key: 'auth0', name: 'Auth0', color: '#ec5425' },
        { key: 'google', name: 'Google', color: '#4284f4' },
        { key: 'facebook', name: 'Facebook', color: '#3c65c4' },
        { key: 'github', name: 'Github', color: '#202326' }
      ]),
      redirect () {
        return (
          this.$route.query.redirect &&
          decodeURIComponent(this.$route.query.redirect)
        )
      },
      isCallback () {
        return Boolean(this.$route.query.callback)
      }
    },
    methods: {
      async login () {
        this.loading = true
        this.error = null
        return this.$auth
          .loginWith('local', {
            data: {
              username: this.username,
              password: this.password
            }
          }).catch(e => {
            this.error = e + ''
          })
      }
    }
  }
</script>
